name: Deploy Next.js to GitHub Pages

on:
  push:
    branches:
      - main # Triggers the workflow on pushes to the main branch

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout 
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '22.15.0' # Use a stable Node.js version
        cache: 'npm'

    - name: Install dependencies
      run: npm install

    - name: Build static site
      run: npm run build

    - name: Add .nojekyll file
      run: touch ./out/.nojekyll # Prevents GitHub Pages from ignoring files starting with an underscore

    - name: Deploy to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@v4.6.0
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        branch: gh-pages # The branch the action should deploy the static files to
        folder: out # The folder with the static output
